.header-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #263238; /* Header background color */
    height: 60px;
}

.logo {
    color: #fff; /* Header logo text color */
    padding: 20px 20px 19px 20px; /* this makes sure that the logo is vertically in the center */
    font-weight: bold;
    font-size: 18px; /* font size of logo text */
    cursor: pointer;
}

.header-right-flex-container{
    display: flex;
}
